<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8">
		<title>Electricity consumation statistics</title>
	</head>
	<body>
		<form action = "/" method = "post">
			{{ registerMeterReadingForm }}
			{% csrf_token %}
			<br><input type = "submit" id = "id_submit">
		</form>
		<table id = "id_table_readings">
			<caption>Electricity meter readings</caption>
			<tr><th>date</th><th>reading</th></tr>
			{% for meterReading in meterReadings %}
			<tr><td>{{ meterReading.date|date:"Y-m-d" }}</td><td>{{ meterReading.reading }}</td></tr>
			{% endfor %}
		</table>
	</body>
	<script>
		/*******************************************************
		Format and put the date of today in the input_date field
		*******************************************************/
		date = new Date();
		month = paddWithZeroAndReturnString(date.getMonth() + 1);
		day = paddWithZeroAndReturnString(date.getDate());
		year = date.getFullYear();
		document.getElementById('id_date').value = year +  '-' + month + '-' + day;

		function paddWithZeroAndReturnString(number) {
			if(number < 10) {
				return '0' + number.toString();
			}
			else {
				return number.toString();
			}
		}
	</script>
</html>
